# deploy.yml
name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '18' # Paling aman menggunakan Node 18

    - name: Install Dependencies
      run: npm install

    - name: Build Project
      run: npm run build

    - name: Deploy to Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # PENTING: Jika folder build Anda bernama 'build', biarkan seperti ini. 
        # Jika Vite membuat folder 'dist', ubah ke './dist'
        publish_dir: ./build
