name: Deploy static content to Pages

on:
  push:
    branches: ["main"] # Ganti dengan nama branch utama Anda (misalnya: master)
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # Konfigurasi pekerjaan deployment Anda di sini
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js (jika proyek Anda butuh build)
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies (jika proyek Anda butuh build)
        run: npm install
      - name: Build project (jika proyek Anda butuh build)
        run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Direktori hasil build Anda, ganti dengan 'build' atau 'dist' jika berbeda
          path: './out' 
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
